body{

	font:sans-serif;
	text-transform: uppercase;
	letter-spacing: .5em;
	text-align: center;
	background:linear-gradient(to right,red,yellow);
}
h1{
	font:sans-serif;
	text-transform: uppercase;
	letter-spacing: .5em;
	text-align: center;
}